<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <coverage/>
  <testsuites>
    <testsuite name="testing">
      <file>/mnt/c/webapps/phptest/tests/go.Test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
 